compile
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4/
.deps/
.libs/
protocol/*.h
protocol/*.c
.tags*
singletask.lock
*.pro.user